
# LOCAL PACKAGES
-e .
black==23.7.0
flake8==6.1.0
ipykernel
isort==5.12.0
kaleido==0.2.1

# LOGGING
loguru==0.7.2
mypy==1.5.1
networkx==3.3

# UTILITIES
pandas==2.2.2

# GRAPHICS
plotly==6.0.0

# LINTERS
pre-commit==3.7.0
pydantic==2.9.2
pytest==7.4.0
typer==0.15.2
